doctype html
html(lang="ru")
    head
        include includes/head
        title СберМаркетинг &amp; X5 Group. Предвосхищаем завтра, чтобы восхищать сегодня
        include includes/variables
    body 
        include includes/header
        main 
            .main-screen#mainScreen 
                .container 
                    .main-screen__inner 
                        .main-screen__content 
                            h1 Больше чем маркетинг
                            h3 меняем рекламную индустрию
                        .main-screen__img
                            picture 
                                source(media="(max-width: 1024px)", srcset="img/webp/main-mobile@x2.webp", type="image/webp")
                                source(media="(max-width: 1024px)", srcset="img/main-mobile@x2.jpg")
                                source(srcset="img/webp/main@x2.webp", type="image/webp")
                                img(src="img/main@x2.jpg", alt="")
            
            .page-content 
                .container 
                    section.actual-block#actual
                        .section 
                            h2 Актуальность
                            .togglers__item-textbox
                                div 
                                    h4 За последние годы конкуренция на рынке российского продуктового ритейла значимо возросла.
                                    p Развитие каналов e-commerce и выход новых игроков с форматом EDLP (Чижик, Smart, и др.) стали серьезными челленджами для других игроков рынка.
                                div 
                                    h4 Анализ трендов позволяет определить возможные точки роста.
                                    p С одной стороны, ритейлерам нужны инновации, которые приведут к росту маржинальности бизнеса, но с другой — необходимо поддерживать конкурентноспособный уровень клиентского опыта и быть интересным и заметным для своего покупателя. Поэтому часто мы можем встретить инновации, которые работают не только напрямую на эффективность, сколько на создание коммуникационного эффекта, в том числе хайпа. 
                            .togglers__item-preview 
                                picture 
                                    source(media="(max-width: 1024px)", srcset="img/webp/actual-mobile@x2.webp", type="image/webp")
                                    source(media="(max-width: 1024px)", srcset="img/actual-mobile@x2.jpg")
                                    source(srcset="img/webp/actual.webp", type="image/webp")
                                    img(src="img/actual.jpg", alt="")
                        
                    section.factors#factors
                        .section
                            h2 Внешние факторы
                            .rules__head
                                h3 оказывающие влияние на продуктовый ретейл
                                span Изменения структуры населения, образа жизни, стремлений и возможностей покупателей оказывают влияние на категорию продуктового ретейла

                        .filters.jsTabParent
                            aside.filters__aside.jsAside 
                                .filters__aside-mobile.jsAsideMobile 
                                    span.jsAsideText старение населения 
                                    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L5.82733 4.88848C6.20875 5.23523 6.79125 5.23523 7.17267 4.88848L12 0.5" stroke="#368B00" stroke-linecap="round"/>
                                    </svg>

                                ul.filters__aside-list 
                                    each item in aside1
                                        if(item.checked)
                                            li.filters__aside-list-item.active.jsTabHead=item.text 
                                        else 
                                            li.filters__aside-list-item.jsTabHead=item.text 
                                            
                            
                            each item in filtersBody1
                                if(item.active)
                                    .filters__content.active.jsTabBody 
                                        h3!=item.head
                                        each paragraph in item.descr
                                            p=paragraph
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.slider)
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__bg 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h2.filters-slider__name 
                                                                    span=slides.name 
                                                                .filters-slider__content 
                                                                    each paragraph in slides.sliderDescr
                                                                        p!=paragraph.mainText
                                                                        if(paragraph.secondaryText)
                                                                            p.filters-slider__secondary=paragraph.secondaryText
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>
                                        
                                        


                                else 
                                    .filters__content.jsTabBody 
                                        h3!=item.head
                                        each paragraph in item.descr
                                            p=paragraph
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid9)
                                            .filters__content-grid.grid-9 
                                                each gridItem in item.grid9 
                                                    if(gridItem.span5)
                                                        .filters__content-grid-item.span-5 
                                                            img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-fill.filters__content-grid-item 
                                                            .filters__content-fill-bg 
                                                                picture 
                                                                    source(srcset=gridItem.fillWebp, type="image/webp")
                                                                    img(src=gridItem.fillImg, alt="")
                                                            .filters__content-fill-descr 
                                                                p.filters-slider__secondary=gridItem.descr
                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.slider)
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__bg 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h2.filters-slider__name 
                                                                    span=slides.name 
                                                                .filters-slider__content 
                                                                    each paragraph in slides.sliderDescr
                                                                        p!=paragraph.mainText
                                                                        if(paragraph.secondaryText)
                                                                            p.filters-slider__secondary=paragraph.secondaryText
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>
                                        
                                        if(item.asterix)
                                            small!=item.asterix
                                        
                                            
                        .section.jsTabParent 
                            h3 Материалы по теме
                            .section__filters-box.jsAside
                                .section__filters-mobile.jsAsideMobile 
                                    span.jsAsideText #ecommerce
                                    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L5.82733 4.88848C6.20875 5.23523 6.79125 5.23523 7.17267 4.88848L12 0.5" stroke="#368B00" stroke-linecap="round"/>
                                    </svg>
                                .section__filters 
                                    each item in filters1
                                        if(item.checked)
                                            .section__filters-text.active.jsTabHead=item.text
                                        else 
                                            .section__filters-text.jsTabHead=item.text
                            .togglers 
                                each item in togglers1
                                    if(item.active)
                                        .togglers__item.active.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text
                                    else 
                                        .togglers__item.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text
                        
                    section.rules#rules
                        .rules__head
                            h2 
                                span Новые 
                                span правила игры
                            h3 
                                span в категории 
                                span продуктового ретейла
                        .filters.jsTabParent
                            aside.filters__aside.jsAside 
                                .filters__aside-mobile.jsAsideMobile 
                                    span.jsAsideText меньше игроков
                                    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L5.82733 4.88848C6.20875 5.23523 6.79125 5.23523 7.17267 4.88848L12 0.5" stroke="#368B00" stroke-linecap="round"/>
                                    </svg>
                                ul.filters__aside-list 
                                    each item in aside2
                                        if(item.checked)
                                            li.filters__aside-list-item.active.jsTabHead=item.text 
                                        else 
                                            li.filters__aside-list-item.jsTabHead=item.text
                            
                            each item in filtersBody2
                                if(item.active)
                                    .filters__content.active.jsTabBody 
                                        h3!=item.name
                                        
                                        if(item.descr)
                                            each paragraph in item.descr
                                                p=paragraph
                                        if(item.list)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ul 
                                                each listItem in item.list 
                                                    li!=listItem
                                        if(item.numList)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ol 
                                                each listItem in item.numList 
                                                    li!=listItem
                                        if(item.groupContent)
                                            each content in item.groupContent 
                                                .group-content 
                                                    h4=content.name 
                                                    each groupParagraph in groupContent.paragraph
                                                        p=groupParagrap 
                                        
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid5)
                                            .filters__content-grid.grid-5 
                                                each gridItem in item.grid5 
                                                    if(item.span3)
                                                        .filters__content-grid-item.span-3 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-grid-item 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.previewVector)
                                            .filters__content-preview 
                                                h4(style="color: #003E14")=item.previewHeading
                                                img(src=item.previewImg, alt="")
                                        
                                        if(item.slider)
                                            if(item.sliderHead)
                                                p=item.sliderHead
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__bg 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h2.filters-slider__name 
                                                                    span=slides.name 
                                                            if(slides.sliderDescr)
                                                                .filters-slider__content 
                                                                    each paragraph in slides.sliderDescr
                                                                        p!=paragraph.mainText
                                                                        if(paragraph.secondaryText)
                                                                            p.filters-slider__secondary=paragraph.secondaryText
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>
                                        
                                        


                                else 
                                    .filters__content.jsTabBody 
                                        h3!=item.name
                                        if(item.descr)
                                            each paragraph in item.descr
                                                p=paragraph
                                        if(item.list)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ul 
                                                each listItem in item.list 
                                                    li!=listItem
                                        if(item.numList)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ol 
                                                each listItem in item.numList 
                                                    li!=listItem
                                        if(item.groupContent)
                                            each content in item.groupContent 
                                                .group-content 
                                                    h4=content.name 
                                                    each groupParagraph in content.paragraph
                                                        p=groupParagraph
                                        
                                                            
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid5)
                                            .filters__content-grid.grid-5 
                                                each gridItem in item.grid5 
                                                    if(gridItem.span3)
                                                        .filters__content-grid-item.span-3 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-grid-item 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")

                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                if(item.previewHeading)
                                                    h4(style="color: #003E14")!=item.previewHeading
                                                if(item.previewWebp)
                                                    picture 
                                                        source(srcset=item.previewWebp, type="image/webp")
                                                        img(src=item.previewImg, alt="")
                                                if(item.previewVector) 
                                                    img(src=item.previewVector, alt="")
                                            
                                        if(item.slider)
                                            if(item.sliderHead)
                                                p=item.sliderHead
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        if(!slides.region && !slides.customer)
                                                            .filters-slider__item.swiper-slide
                                                                .filters-slider__bg 
                                                                    picture 
                                                                        source(srcset=slides.webp, type="image/webp")
                                                                        img(src=slides.img, alt="") 
                                                                if(slides.name)
                                                                    h2.filters-slider__name 
                                                                        span=slides.name 
                                                                if(slides.sliderDescr)
                                                                    .filters-slider__content 
                                                                        each paragraph in slides.sliderDescr
                                                                            p!=paragraph.mainText
                                                                            if(paragraph.secondaryText)
                                                                                p.filters-slider__secondary=paragraph.secondaryText
                                                        if(slides.customer)
                                                            .filters-slider__item.swiper-slide
                                                                .filters-slider__bg 
                                                                    picture 
                                                                        source(srcset=slides.webp, type="image/webp")
                                                                        img(src=slides.img, alt="") 
                                                                .filters-slider__content
                                                                    if(slides.mainText) 
                                                                        p!=slides.mainText
                                                                    if(slides.secondaryText) 
                                                                        each smallText in slides.secondaryText 
                                                                            p.filters-slider__secondary=smallText
                                                        if(slides.region) 
                                                            .filters-slider__item.transparent.swiper-slide 
                                                                p.filters-slider__secondary.medium!=slides.mainText
                                                                small=slides.small 
                                                                img(src=slides.img, alt="")
                                                        

                                                                
                                                
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>
                                        

                        .section.jsTabParent 
                            h3 Материалы по теме
                            .section__filters-box.jsAside
                                .section__filters-mobile.jsAsideMobile 
                                    span.jsAsideText #ecommerce
                                    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L5.82733 4.88848C6.20875 5.23523 6.79125 5.23523 7.17267 4.88848L12 0.5" stroke="#368B00" stroke-linecap="round"/>
                                    </svg>
                                .section__filters 
                                    each item in filters2
                                        if(item.checked)
                                            .section__filters-text.active.jsTabHead=item.text
                                        else 
                                            .section__filters-text.jsTabHead=item.text
                            .togglers 
                                each item in togglers2
                                    if(item.active)
                                        .togglers__item.active.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text
                                    else 
                                        .togglers__item.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text             

                    
                    section.practice#practice
                        .rules__head
                            h2 Лучшие практики
                            h3 
                                span какой опыт может 
                                span быть полезен
                        .filters.jsTabParent
                            aside.filters__aside.jsAside 
                                .filters__aside-mobile.jsAsideMobile 
                                    span.jsAsideText HoReCa в магазины 
                                    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L5.82733 4.88848C6.20875 5.23523 6.79125 5.23523 7.17267 4.88848L12 0.5" stroke="#368B00" stroke-linecap="round"/>
                                    </svg>
                                ul.filters__aside-list 
                                    each item in aside4
                                        if(item.checked)
                                            li.filters__aside-list-item.active.jsTabHead=item.text 
                                        else 
                                            li.filters__aside-list-item.jsTabHead=item.text
                            each item in filtersBody4
                                if(item.active)
                                    .filters__content.active.jsTabBody 
                                        h3!=item.name
                                        
                                        if(item.descr)
                                            each paragraph in item.descr
                                                p=paragraph
                                        if(item.list)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ul 
                                                each listItem in item.list 
                                                    li!=listItem.text
                                                        if(listItem.subNumeric)
                                                            ol 
                                                                each subNum in listItem.subNumeric
                                                                    li=subNum
                                        if(item.numList)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ol 
                                                each listItem in item.numList 
                                                    li!=listItem
                                        if(item.groupContent)
                                            each content in item.groupContent 
                                                .group-content 
                                                    if(content.name)
                                                        h4=content.name 
                                                    if(content.paragraph)
                                                        each groupParagraph in content.paragraph
                                                            p=groupParagraph
                                                    if(content.list)
                                                        ul 
                                                            each groupList in content.list 
                                                                li=groupList 
                                        
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid5)
                                            .filters__content-grid.grid-5 
                                                each gridItem in item.grid5 
                                                    if(item.span3)
                                                        .filters__content-grid-item.span-3 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-grid-item 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.slider)
                                            if(item.sliderHead)
                                                p=item.sliderHead
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__bg 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h2.filters-slider__name 
                                                                    span=slides.name 
                                                            if(slides.sliderDescr)
                                                                .filters-slider__content 
                                                                    each paragraph in slides.sliderDescr
                                                                        p!=paragraph.mainText
                                                                        if(paragraph.secondaryText)
                                                                            p.filters-slider__secondary=paragraph.secondaryText
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>
                                        
                                        


                                else 
                                    .filters__content.jsTabBody 
                                        h3!=item.name
                                        if(item.descr)
                                            each paragraph in item.descr
                                                p=paragraph
                                        if(item.list)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ul 
                                                each listItem in item.list 
                                                    li!=listItem.text
                                                        if(listItem.subNumeric)
                                                            ol 
                                                                each subNum in listItem.subNumeric
                                                                    li=subNum
                                        if(item.numList)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ol 
                                                each listItem in item.numList 
                                                    li!=listItem
                                        if(item.advantagesList)
                                            .filters-advantages 
                                                each advantages in item.advantagesList
                                                    .filters-advantages__item 
                                                        .filters-advantages__head!=advantages.head 
                                                        if(advantages.body)
                                                            .filters-advantages__body!=advantages.body

                                        if(item.groupContent)
                                            each content in item.groupContent 
                                                .group-content 
                                                    if(content.name)
                                                        h4=content.name 
                                                    if(content.paragraph)
                                                        each groupParagraph in content.paragraph
                                                            p=groupParagraph
                                                    if(content.list)
                                                        ul 
                                                            each groupList in content.list 
                                                                li=groupList
                                        
                                                            
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid5)
                                            .filters__content-grid.grid-5 
                                                each gridItem in item.grid5 
                                                    if(gridItem.span3)
                                                        .filters__content-grid-item.span-3 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-grid-item 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")

                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        if(fillDescr.mainText)
                                                            p!=fillDescr.mainText
                                                        .filters__content-fill-text
                                                            if(fillDescr.head)
                                                                h4!=fillDescr.head
                                                            if(fillDescr.list)
                                                                ul 
                                                                    each listItem in fillDescr.list 
                                                                        li=listItem
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.slider)
                                            if(item.sliderHead)
                                                p=item.sliderHead
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__head 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h2.filters-slider__name 
                                                                    span=slides.name 
                                                            if(slides.sliderDescr)
                                                                .filters-slider__content 
                                                                    each descr in slides.sliderDescr
                                                                        p.filters-slider__secondary=descr
                                                
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>

                        .section.jsTabParent 
                            h3 Материалы по теме
                            .togglers 
                                each item in togglers4
                                    if(item.active)
                                        .togglers__item.active.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text
                                    else 
                                        .togglers__item.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text
                    
                    section.cases#cases 
                        .rules__head 
                            h2 Яркие кейсы 
                            h3 для вдохновения
                                 
                        .filters.jsTabParent
                            aside.filters__aside.jsAside 
                                .filters__aside-mobile.jsAsideMobile 
                                    span.jsAsideText Доставка для одиночек
                                    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L5.82733 4.88848C6.20875 5.23523 6.79125 5.23523 7.17267 4.88848L12 0.5" stroke="#368B00" stroke-linecap="round"/>
                                    </svg>
                                ul.filters__aside-list 
                                    each item in aside3
                                        if(item.checked)
                                            li.filters__aside-list-item.active.jsTabHead=item.text 
                                        else 
                                            li.filters__aside-list-item.jsTabHead=item.text
                            each item in filtersBody3
                                if(item.active)
                                    .filters__content.active.jsTabBody 
                                        h3!=item.name
                                        if(item.descr)
                                            each paragraph in item.descr
                                                p=paragraph
                                        if(item.list)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ul 
                                                each listItem in item.list 
                                                    li!=listItem
                                        if(item.numList)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ol 
                                                each listItem in item.numList 
                                                    li!=listItem
                                            if(item.afterList)
                                                p=item.afterList
                                        if(item.groupContent)
                                            each content in item.groupContent 
                                                .group-content 
                                                    h4=content.name 
                                                    each groupParagraph in groupContent.paragraph
                                                        p=groupParagrap 
                                        
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid3)
                                            .filters__content-grid.grid-3 
                                                each gridItem in item.grid3
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid5)
                                            .filters__content-grid.grid-5 
                                                each gridItem in item.grid5 
                                                    if(item.span3)
                                                        .filters__content-grid-item.span-3 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-grid-item 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.slider)
                                            if(item.sliderHead)
                                                p=item.sliderHead
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__head 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h2.filters-slider__name 
                                                                    span=slides.name 
                                                            if(slides.sliderDescr)
                                                                .filters-slider__content 
                                                                    p=slides.mainText
                                                                    each descr in slides.sliderDescr 
                                                                        p.filters-slider__secondary=slides.text
                                                
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>
                                        
                                        


                                else 
                                    .filters__content.jsTabBody 
                                        h3!=item.name
                                        if(item.descr)
                                            each paragraph in item.descr
                                                p=paragraph
                                        if(item.list)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ul 
                                                each listItem in item.list 
                                                    li!=listItem
                                        if(item.numList)
                                            if(item.listHead)
                                                h3!=item.listHead
                                            ol 
                                                each listItem in item.numList 
                                                    li!=listItem
                                            if(item.afterList)
                                                p=item.afterList
                                        
                                        if(item.groupContent)
                                            each content in item.groupContent 
                                                .group-content 
                                                    if(content.name)
                                                        h4=content.name 
                                                    if(content.paragraph)
                                                        each groupParagraph in content.paragraph
                                                            p=groupParagraph
                                                    if(content.list)
                                                        ul 
                                                            each groupList in content.list 
                                                                li=groupList
                                        
                                                            
                                        if(item.grid2)
                                            .filters__content-grid.grid-2
                                                each gridItem in item.grid2 
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                                
                                                 
                                         


                                        if(item.grid3)
                                            .filters__content-grid.grid-3 
                                                each gridItem in item.grid3
                                                    .filters__content-grid-item 
                                                        picture 
                                                            source(srcset=gridItem.webp, type="image/webp")
                                                            img(src=gridItem.img, alt="")
                                        if(item.grid5)
                                            .filters__content-grid.grid-5 
                                                each gridItem in item.grid5 
                                                    if(gridItem.span3)
                                                        .filters__content-grid-item.span-3 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")
                                                    else 
                                                        .filters__content-grid-item 
                                                            picture 
                                                                source(srcset=gridItem.webp, type="image/webp")
                                                                img(src=gridItem.img, alt="")

                                        if(item.fillParagraph)
                                            .filters__content-fill 
                                                .filters__content-fill-bg 
                                                    picture 
                                                        source(srcset=item.fillWebp, type="image/webp")
                                                        img(src=item.fillImg, alt="")
                                                .filters__content-fill-descr 
                                                    each fillDescr in item.fillParagraph 
                                                        p!=fillDescr.mainText
                                        if(item.previewImg)
                                            .filters__content-preview 
                                                picture 
                                                    source(srcset=item.previewWebp, type="image/webp")
                                                    img(src=item.previewImg, alt="")
                                        if(item.slider)
                                            if(item.sliderHead)
                                                p=item.sliderHead
                                            .filters-slider.swiper 
                                                .swiper-wrapper
                                                    each slides in item.slider
                                                        .filters-slider__item.swiper-slide
                                                            .filters-slider__head 
                                                                picture 
                                                                    source(srcset=slides.webp, type="image/webp")
                                                                    img(src=slides.img, alt="") 
                                                            if(slides.name)
                                                                h4.filters-slider__name 
                                                                    span=slides.name 
                                                            .filters-slider__content
                                                                if(slides.mainText)
                                                                    p=slides.mainText
                                                                if(slides.sliderDescr)
                                                                    each descr in slides.sliderDescr 
                                                                        p.filters-slider__secondary=descr
                                                
                                                .filters-slider__controls
                                                    .swiper-pagination
                                                    .swiper-button-prev
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.71561 18.6303L0.58633 9.45491L9.78513 0.325718L11.2211 1.76087L4.38709 8.43809L21.6603 8.52713L21.6526 10.5662L4.35591 10.477L11.1625 17.1944L9.71561 18.6303Z" fill="#5FAF2D"/>
                                                        </svg>
                                                    .swiper-button-next
                                                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M12.3086 0.410156L21.4727 9.55078L12.3086 18.7148L10.8672 17.2852L17.6758 10.582L0.402344 10.5586V8.51953L17.6992 8.54297L10.8672 1.85156L12.3086 0.410156Z" fill="#5FAF2D"/>
                                                        </svg>

                            
                            
                            
                                

                        .section.jsTabParent 
                            h3 Материалы по теме
                            .togglers 
                                each item in togglers3
                                    if(item.active)
                                        .togglers__item.active.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text
                                    else 
                                        .togglers__item.jsTabBody
                                            ul.togglers-list 
                                                each listItem in item.list
                                                    li.togglers-list__item  
                                                        a(href=listItem.link target="_blank").togglers-list__link=listItem.text                        

                    section.team#team 
                        .rules__head 
                            h2 Команда
                            h3 призванная усилять 
                        .team__inner 
                            each item in team 
                                if(!item.span3)
                                    .team__item 
                                        .team__item-head 
                                            picture 
                                                source(srcset=item.webp, type="image/webp")
                                                img(src=item.img, alt="" loading="lazy")
                                        .team__item-body
                                            h4.team__item-name=item.name 
                                            p=item.descr
                                else 
                                    .team__item.span-3 
                                        .team__item-head 
                                            picture 
                                                source(srcset=item.webp, type="image/webp")
                                                img(src=item.img, alt="" loading="lazy")

        

        
        .fixed-btn.hidden.jsBtn 
            <svg width="20" height="80" viewBox="0 0 37 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.1 145.9H19.5C8.7 145.9 0 137.2 0 126.4V19.5C0 8.7 8.7 0 19.5 0H36.1V145.9Z" fill="#003E14"/>
                <path d="M21.5001 94.0001C20.5001 94.0001 19.6001 93.4001 19.2001 92.4001L13.1001 77.4001C12.1001 75.0001 12.1001 72.3001 13.1001 69.9001L19.2001 54.9001C19.7001 53.6001 21.2001 53.0001 22.5001 53.5001C23.8001 54.0001 24.4001 55.5001 23.9001 56.8001L17.8001 71.8001C17.3001 73.0001 17.3001 74.4001 17.8001 75.6001L23.9001 90.6001C24.4001 91.9001 23.8001 93.3001 22.5001 93.9001C22.1001 94.0001 21.8001 94.0001 21.5001 94.0001Z" fill="white"/>
            </svg>
        .timer-box.jsTimerBox
            .man 
                .man__control.jsControl 
                    <svg width="15px" height="15px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 21.32L21 3.32001" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 3.32001L21 21.32" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .man__pic 
                    video(src="video/widget.mp4" autoplay muted loop playsinline pip="false")
                .man__buttons 
                    a(href="video/video-modal.mp4" data-fancybox).man__buttons-item.jsManBtn
                        span Приветственная речь 
                        .man__buttons-icon(style="background-image: url('img/mi-1.png')")
                    .man__buttons-item.jsOpenFrame.jsManBtn(data-url="https://stanislav.digitalavatars.ru/") 
                        span Прямая линия с AI CEO
                        .man__buttons-icon(style="background-image: url('img/mi-2.png')")
            .timer#timer 
                .timer__head Скоро увидимся!
                .timer__row 
            
        
        
        
        include includes/footer
        